@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
.container{
    margin-top: 40px;
    width: 70%;
    height: 100%;
    box-shadow: 0px 6px 5px 5px rgba(176,164,176,1) !important;
    transition: all 0.4s ease-in-out !important;
    margin: auto;
}
.nav-breadcrumb{
    margin-bottom: 30px;
    display: flex;
    justify-content: space-around;
}
.container-nav{
    display: flex;
}
.container-nav > p{
    padding: 10px;
    margin: auto;
}

.nav-link {
    text-decoration: none;
    padding: 5px;
    color: black;
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
    font-weight: 600;
    color: #E83A59;
}
.nav-link:hover{
    text-decoration: #E83A59 underline;
}
.navbread-link{
    text-decoration: none;
    padding: 2px;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    color: black;
}
.navbread-link:hover{
    text-decoration: underline;

}
.border{
    border: 1px solid #ddd;
}

.dbmsgen{
    margin-left: 10%;
}
.webr,
.cohand{
    font-size: 1.5rem;
    color: black;
}
.btn-no{
    border: none;
    color: #fff;
    background-color: #fff;
}
button{
    outline: none;
}
.active{
    display: block;
}
.hide{
    display: none;
}
.color-text{
    color: #E83A59;
    text-decoration: underline;
}
.webr-tab{
    margin-left: 6%;
}
.cohand-tab{
    margin-left: 6%;
}
.rotate{
    font-size: 0.9rem;
}
.link-active{
    text-decoration: underline;
    color: #F83A59;
}